# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Virtual Environments
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Results and logs
results/
*.log
*.png
*.jpg
03_Data/
scratch/
